flows.json
[{"id":"1bd4e59c.f522aa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ab47b8b0.af1bb8","type":"mqtt in","z":"1bd4e59c.f522aa","name":"Broker","topic":"Fdi/2/10","qos":"2","datatype":"auto","broker":"f30b32d4.b7033","x":210,"y":160,"wires":[["554e96c6.e2bee8"]]},{"id":"b8bf1957.a670a8","type":"function","z":"1bd4e59c.f522aa","name":"Parser","func":"var valor_temperatura = parseFloat(msg.payload.Temperatura);\nvar CO2 = msg.payload.CO2;\nvar valor_temperatura_float = valor_temperatura / 100;\nmsg.payload.Temperatura = valor_temperatura_float;\nmsg.payload.CO2 = CO2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[["a19cbfd4.d51ed","d472e3b5.b64e2"]]},{"id":"a19cbfd4.d51ed","type":"http request","z":"1bd4e59c.f522aa","name":"Thingsboard","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://demo.thingsboard.io/api/v1/NTex8YRGjeQU2oJ3NuQm/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":160,"wires":[[]]},{"id":"d472e3b5.b64e2","type":"debug","z":"1bd4e59c.f522aa","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"554e96c6.e2bee8","type":"json","z":"1bd4e59c.f522aa","name":"JSON","property":"payload","action":"","pretty":false,"x":430,"y":160,"wires":[["b8bf1957.a670a8"]]},{"id":"f30b32d4.b7033","type":"mqtt-broker","name":"","broker":"192.168.0.32","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]